---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
data:
  purpose: "Dummy object to trigger kube-burner job execution"
  description: "This ConfigMap serves as a trigger object for jobs that primarily execute scripts in beforeCleanup hooks"

